<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accueil</title>
</head>
<body>
  <h1>Vous n'êtes pas connecté</h1>
  <p>Veuillez vous <a href="/loginForm">connecter</a> ou <a href="/registerForm">créer un compte.</a></p>
</body>
</html>