<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Connexion</title>
    </head>

    <body>
    <form action="/login" method="post">
        <label for="username">Pseudo</label><br>
        <input type="text" name="username">
        <br><br>
 
        <label for="password">Mot de passe</label><br>
        <input type="password" name="password">
        <br><br>
      
        <button type="submit">Se connecter</button>
        <p>{{error}}</p>
    </form>
    </body>
</html>